/* -------General Classes -------- */
body {
    font-family: 'Rubik', sans-serif;
    color: #373a39;
}

p {
    line-height: 38px;
}

.main-content {
    margin-bottom: 80px;
}
.button {
    background-color: #156056;
    border-color: #156056;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    height: auto;
}
.outline-white {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}
.outline-white:hover {
    border-color: #b5b5b5;
    color: #b5b5b5;
    opacity: 0.8;
}

/* -------Navigation -------- */

.navbar-item.home-logo img {
    max-height: 100px;
}

nav.is-transparent .navbar-menu .navbar-end a.navbar-item:hover {
    color: #156056;
}


@media only screen and (max-width: 1024px) {
    #navMenu {
        position: absolute;
        right: 0;
        top: 52px;
        background-color: rgb(21 96 86 / 54%);
        padding: 30px;
    }
}
.navbar-burger:hover {
    background-color: rgb(21 96 86 / 54%);
}

/* -------Introduction  -------- */

#home {
    margin-bottom: 80px;
    margin-top: 50px;
}
.intro-image {
    background-image: url("./Images/Xio.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 95% 33%;

}

/* -------Portfolio -------- */
.portfolio-grid{
    margin-bottom: 60px;
}

.beddown-container {
    background: #156056;
    background: -webkit-linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.7)), url("./Images/beddown.png");
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.7)), url("./Images/beddown.png");
    

}

.tobeme-container {
    background: #156056;
    background: -webkit-linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.7)), url("./Images/tobeme.png");
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.7)), url("./Images/tobeme.png");

}

.rtp-container {
    background: #156056;
    background: -webkit-linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.7)), url("./Images/rtpapparel.png");
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.7)), url("./Images/rtpapparel.png");

}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}






/* -------Footer -------- */
footer.footer {
    background-color: #156056;
}

footer strong,
footer .footer-social-icon a {
    color: #fff;
}

footer>div>div>a {
    margin-right: 20px;
}